<!DOCTYPE html>
<html lang="en">
{{> main}}

<body>
    <div>Hello, Welcome to the home page</div>
    <img src="/photos/cyber.jpg" height="200" width="300"/>
    <div class="home">
        <div class="decor"></div>
        <div class="home-case">
            <div class="home-box">
                <div class="typewriter">
                    <h1

                </div>
            </div>
            <a class="home-button" href="/work">recent work</a>
            <a class="home-button" href="/contact">let's talk</a>
        </div>
    </div>
    {{> footer}}
</body>
</html>